body {
    background-image: url('arcade-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    position: center;
}

.navbar {
    background-color: blue;
    height: 50px;
    margin:0; 
    padding: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.navbar-brand,
.navbar-nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

#main {
    background-color: none;
    padding: 10px;
    margin: 50px auto;
    max-width: 800px;
    color: white;
}

.game-container {
    background-color: #999;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    margin: 50px auto;
    max-width: 800px;
    color: black;
}

#timer-container {
    display: none;
}

.card-container {
    display: inline;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    width: 75px;
    height: 120px;
    margin: 10px;
    background-color: white;
    color: none;
    font-size: 48px;
    text-align: center;
    justify-content: center;
    line-height: 100px;
    transition: transform 0.5s;
  }

    .card:hover {
        transform: scale(1.1);
    }


  .card-front,
  .card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
  }
  
  .card-front {
      transform: rotateY(0deg);
      color: white;
  }
  
  .card-back {
      transform: rotateY(180deg);
      background-color: antiquewhite;
  }
  
  .card-flip .card-front {
      transform: rotateY(-180deg);
  }
  
  .card-flip .card-back {
      transform: rotateY(0deg);
  }

  .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#leaderboard table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #leaderboard th {
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }
  
  #leaderboard td {
    padding: 5px;
    text-align: center;
  }
  
  #leaderboard tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

 
  
  table {
    border-spacing: 2px;
    margin: 0 auto;
  }