body {
    background-image: url('arcade-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    position: center;
}

.navbar {
    background-color: blue;
    height: 50px;
    margin:0; 
    padding: 0 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.navbar-brand,
.navbar-nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

#main {
    background-color: none;
    padding: 10px;
    margin: 50px auto;
    max-width: 800px;
    color: white;
}

.game-container {
    background-color: #999;
    box-shadow: 5px 5px 5px grey;
    padding: 10px;
    margin: 50px auto;
    max-width: 800px;
    color: black;
}

#timer-container {
    display: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #999;
    color: white;
    font-size: 48px;
    text-align: center;
    line-height: 100px;
  }